header
  .infopanel
    .container
        a.element(href="/login" class=highlighted=="login" ? "active" : "") Login
        a.element(href="/register" class=highlighted=="register" ? "active" : "") Register
if messages
    each message in messages
      p.message(class=message.type) #{message.headline} #{message.text}
